
a:link {
    color: #4775FF;
}

a:hover {
    color: #19D1FF;
}


a:active {
    color: #FF0000;
}

a:visited {
    color: #4775FF;
}

a:hover {
    color: #19D1FF;
}

a:active {
    color: #FF0000;
}